Saved/*
Content/Boar_Boss/
Content/Boartest.umap
Content/Boartest_BuiltData.uasset
Content/Characters/
Content/CompleteRPG/
Content/Fantastic_Village_Pack/
Content/LevelPrototyping/
Content/ThirdPerson/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/test/

Content/!CompleteRPG/

Content/CompleteRPG/*
Content/!CompleteRPG/Blueprints/

Content/CompleteRPG/Blueprints/*
Content/!CompleteRPG/Blueprints/Information/
Content/.DS_Store