Boar_Boss/
Boartest.umap
Boartest_BuiltData.uasset
Characters/
CompleteRPG/
Fantastic_Village_Pack/
LevelPrototyping/
ThirdPerson/
__ExternalActors__/
__ExternalObjects__/
test/

!CompleteRPG/

CompleteRPG/*
!CompleteRPG/Blueprints/

CompleteRPG/Blueprints/*
!CompleteRPG/Blueprints/Information/